<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>QUIZ</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <!-- style -->
    <style media="screen">
      header{
        background-color: red;
        text-align: center;
        padding: 8%;
      }
      footer{
        background-color: red;
        text-align: center;
        padding: 5%;
      }
      h1{
        font-family: 'Bangers', cursive;
      }
      h3{
        font-family: 'Suez One', serif;
      }
      p{
        font-family: 'Sigmar One', cursive;
      }
      label{
        font-family: 'Hammersmith One', sans-serif;
      }
      .button{
        font-size: 20px;
        border-radius: 10px;
      }
      .regBody{
        text-align: center;
        padding: 2%;
      }
      #quiz{
        text-align: center;
      }
    </style>
  </head>

  <body class="regBody">
    <header>
      <h1>WELCOME TO THE QUIZ</h1>
      <p>This is just a lab work on developing a multiple choice quiz.</p>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dictum tortor id ligula euismod ultricies. Donec vitae nunc arcu. Vestibulum accumsan nibh ac magna mollis aliquet. Phasellus posuere, magna ac dapibus aliquam, ante velit porta risus, et ultrices purus felis sit amet libero. Morbi sed massa vel mi scelerisque interdum quis at lectus. Donec vestibulum erat viverra suscipit suscipit. Praesent fringilla nec lectus non rutrum. Vivamus id nulla sapien. In hac habitasse platea dictumst. Mauris ligula urna, bibendum vel ex id, maximus euismod nisi. Nam varius efficitur purus, at euismod urna lacinia id.
    </p>
    <footer>
      <h1><a href="\index2">Click here to enter the quiz.</a></h1>
    </footer>

  </body>
</html>
